<div class="panel">
  <div class="panel-body">
    <div class="example-box-wrapper">
      <%= form_for @tag, url: url_name, :html => {class: 'form-horizontal bordered-row'} do |f| %>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-8">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">URL Key</label>
          <div class="col-sm-8">
            <%= f.text_field :key, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label for="tag_type" class="col-sm-2 control-label">Tag Type</label>
          <div class="col-sm-8">
            <% ContentManager::Tag.tag_types.keys.each do |tag_type| %>
              <%= f.radio_button :tag_type, tag_type %>
              <%
                case tag_type
                when "article"
                  tag_label = "記事"
                when "facility"
                  tag_label = "病院"
                when "treatment"
                  tag_label = "治療内容"
                end
              %>
              <%= f.label "#{:tag_type}_#{tag_type.parameterize.underscore}", tag_label  %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <p class="col-sm-12 text-center">
            <%= f.submit 'Submit', {class: 'btn btn-primary'} %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
